.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
}

.prescription-box {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: none;
  font-size: 14px;
}

.popup-content input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.summary-box {
  background-color: #f3f4f6;
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
}

button {
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}
